{{- if not (lookPath "mise") -}}
{{- $miseOS := .chezmoi.os | replace "darwin" "macos" -}}
[".local/bin/mise"]
type = "file"
executable = true
url = "https://mise.jdx.dev/mise-latest-{{$miseOS}}-{{.chezmoi.arch}}"
{{- end -}}
