[user]
  name = {{ .name }}
  email = {{ .email }}
[alias]
  co = checkout
  st = status
  sw = switch
  mergeleader = merge --no-ff --no-commit
  l = log --oneline --decorate --graph --all --abbrev-commit --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  ls = log --oneline --decorate --graph --show-signature
  la = log --oneline --decorate --graph --all
  las = log --oneline --decorate --graph --all --show-signature
  lf = log --summary --no-merges
  lfs = log --summary --no-merges --show-signature
  wtf = !git-wtf
  fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  ri = rebase --interactive --autosquash
  rim = "!f() { base=$(git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed 's@^refs/remotes/@@'); [ -z \"$base\" ] && base=$(git rev-parse --verify origin/main >/dev/null 2>&1 && echo origin/main || echo origin/master); git ri --autostash \"$base\" \"$@\"; }; f"
  f = fetch --prune
  fa = fetch --all --prune --tags
  count = shortlog -sn

[init]
  defaultBranch = main
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  quotepath = false
  editor = vim
{{ if eq .chezmoi.os "darwin" -}}
  fsmonitor = true
  untrackedCache = true
{{ end -}}
[apply]
  whitespace = nowarn
[merge]
{{ if .remote -}}
  conflictstyle = diff3
{{ else -}}
  conflictstyle = zdiff3
{{ end -}}
[mergetool]
  keepBackup = false
[diff]
  algorithm = histogram
  colorMoved = plain
  colorMovedWS = allow-indentation-change
  renames = true
[difftool]
  prompt = false
{{ if eq .chezmoi.os "darwin" -}}
# allow diffs on binary plists
[diff "plist"]
  textconv = plutil -convert xml1 -o -
{{ end -}}
[grep]
  lineNumber = true
[help]
  autocorrect = 1
[push]
  default = simple
  followTags = true
  useForceIfIncludes = true
  autoSetupRemote = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[fetch]
  prune = true
[rebase]
  autoStash = true
  autosquash = true
[rerere]
  enabled = true
  autoUpdate = true
[pull]
  rebase = true
[transfer]
  fsckobjects = true

[includeIf "gitdir:~/Code/Work/"]
  path = .gitconfig-work
